:root {
  --primary-color: theme(colors.sky.600);
  --light-bg: theme(colors.gray.100);
  --light-1: theme(colors.gray.900);
  --light-2: theme(colors.gray.700);
  --light-3: theme(colors.gray.400);
  --dark-bg: theme(colors.gray.900);
  --dark-1: theme(colors.gray.100);
  --dark-2: theme(colors.gray.300);
  --dark-3: theme(colors.gray.500);

  --code-dark-bg: #24292e;
}

/* prose-u or prose-ins is not working */
u, ins {
  @apply underline-offset-4;
}