---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import TagCard from "@/components/TagCard.astro";
import getTaggedBlogs from "@/utils/getTaggedBlogs";

const blogs = await getCollection("blogs");
const taggedBlogs = getTaggedBlogs(blogs);
---

<Layout title="CaptainOfPhB | Tags">
  <div class="grid gap-4 grid-cols-2">
    {
      Object.entries(taggedBlogs).map(([tag, blogs]) => (
        <TagCard
          tag={tag}
          totalCount={blogs.length}
          lastUpdatedOn={blogs[0].data.date}
        />
      ))
    }
  </div>
</Layout>
