---
import { config } from "@/config/global";
import Layout from "@/layouts/Layout.astro";
import TagCard from "@/components/TagCard.astro";
import getTaggedBlogs from "@/utils/getTaggedBlogs";

const taggedBlogs = await getTaggedBlogs();
---

<Layout title={`Tags | ${config.author.name}`}>
  <div class="grid gap-4 grid-cols-1 lg:grid-cols-2">
    {
      Object.entries(taggedBlogs).map(([tag, blogs]) => (
        <TagCard
          tag={tag}
          totalCount={blogs.length}
          lastUpdatedOn={blogs[0].data.date.toString()}
        />
      ))
    }
  </div>
</Layout>
