---
interface Props {
  deprecated: boolean;
}

const { deprecated } = Astro.props;
---

<>
  {
    deprecated ? (
      <div
        class:list={[
          "flex space-x-2 items-start my-4 p-4 border",
          "dark:text-dark-1",
          "border-yellow-600 dark:border-yellow-100",
          "bg-yellow-100 dark:bg-yellow-600",
        ]}
      >
        <svg
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 fill-yellow-600 dark:fill-yellow-100"
        >
          <path d="M4.00001 20V14C4.00001 9.58172 7.58173 6 12 6C16.4183 6 20 9.58172 20 14V20H21V22H3.00001V20H4.00001ZM6.00001 20H18V14C18 10.6863 15.3137 8 12 8C8.6863 8 6.00001 10.6863 6.00001 14V20ZM11 2H13V5H11V2ZM19.7782 4.80761L21.1924 6.22183L19.0711 8.34315L17.6569 6.92893L19.7782 4.80761ZM2.80762 6.22183L4.22183 4.80761L6.34315 6.92893L4.92894 8.34315L2.80762 6.22183ZM7.00001 14C7.00001 11.2386 9.23858 9 12 9V11C10.3432 11 9.00001 12.3431 9.00001 14H7.00001Z"></path>
        </svg>
        <span>该篇文章内容已被标记为废弃，不再更新，仅供参考。</span>
      </div>
    ) : null
  }
</>
