---
interface Props {
  class?: string;
  primitive?: boolean;
  transitionName?: string;
}

const { primitive, transitionName, class: className } = Astro.props;
---

<h1
  transition:name={transitionName}
  class={primitive ? undefined : `text-3xl mb-4 ${className || ""}`}
>
  <slot />
</h1>
