---
interface Props {
  class?: string;
  primitive?: boolean;
  transitionName?: string;
}

const { primitive, transitionName, class: className } = Astro.props;
---

<h2
  transition:name={transitionName}
  class={primitive ? undefined : `text-light-1 dark:text-dark-1 text-2xl mb-4 ${className || ""}`}
>
  <slot />
</h2>
