---
import H1 from '@/components/H1.astro';
import { Code } from "astro:components";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="CaptainOfPhB | Projects">
  <p>There are no projects yet.</p>
  <Code code={`const foo = 'bar';`} lang="ts" theme="github-light" />
</Layout>
