---
import H2 from "@/components/H2.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import getSortedBlogs from "@/utils/getSortedBlogs";

const blogs = await getCollection("blogs");
const sortedBlogs = getSortedBlogs(blogs);
---

<Layout title="Welcome to Astro.">
  {
    sortedBlogs.map((blog) => (
      <div>
        <a href={`/blogs/${blog.slug}`}>
          <H2 transitionName={blog.data.title}>{blog.data.title}</H2>
        </a>
        <p>{blog.data.description}</p>
      </div>
    ))
  }
</Layout>
