---
import "@/styles/global.css";
import { AstroFont } from "astro-font";
import { config } from "@/config/global";
import Footer from "@/layouts/Footer.astro";
import Header from "@/layouts/Header.astro";
import { ViewTransitions } from "astro:transitions";
import "@sweetalert2/theme-borderless/borderless.min.css";
import FloatButtons from "@/components/FloatButtons.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={config.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.7.0/style.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title || config.title}</title>
    <AstroFont
      config={[
        {
          src: [
            {
              style: "normal",
              weight: "normal",
              path: "https://cdn.jsdelivr.net/gh/githubnext/monaspace@v1.000/fonts/webfonts/MonaspaceNeon-Regular.woff",
            },
          ],
          preload: false,
          display: "swap",
          name: "Monaspace Neon",
          fallback: "sans-serif",
          selector: ".font-monaspace",
        },
        {
          src: [
            {
              style: "normal",
              weight: "normal",
              path: "https://cdn.jsdelivr.net/fontsource/fonts/architects-daughter@latest/latin-400-normal.woff2",
              css: {
                "unicode-range": `U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD`,
              },
            },
          ],
          preload: true,
          display: "swap",
          fallback: "sans-serif",
          name: "Architects Daughter",
          selector: ".font-handwrite",
        },
      ]}
    />
    <ViewTransitions />
  </head>
  <body
    class:list={[
      // common
      "relative my-0 pt-12 pb-40 mx-auto max-w-5xl min-h-screen font-wenkai",
      // small screen
      "px-6",
      // large screen
      "lg:px-0",
      // light mode
      "bg-light-bg text-light-2",
      // dark mode
      "dark:bg-dark-bg dark:text-dark-2",
    ]}
  >
    <Header />
    <slot />
    <Footer />
    <FloatButtons />
    <script>
      import { inject } from "@vercel/analytics";
      import { injectSpeedInsights } from "@vercel/speed-insights";

      inject();
      injectSpeedInsights({});
    </script>
  </body>
</html>
