---
import { config } from "@/config/global";
---

<a class="site-logo text-4xl" href="/">
  {config.author.name}
</a>

<style>
  .site-logo {
    font-family: "Architects Daughter", sans-serif;
  }
</style>
