---
import { config } from "@/config/global";
---

<nav id="site-nav" class="flex gap-4 mt-4 flex-wrap lg:mt-0">
  <!-- <nav id="site-nav" class="grid grid-cols-5 grid-flow-row gap-4 mt-4 lg:mt-0"> -->
  {
    config.navs.map((nav) => (
      <a
        href={nav.url}
        class="hover:text-primary duration-300 decoration-primary decoration-wavy underline-offset-8 self-end"
      >
        {nav.title}
      </a>
    ))
  }
  <svg
    id="light-icon"
    viewBox="0 0 24 24"
    data-theme="light"
    xmlns="http://www.w3.org/2000/svg"
    class="theme-icon hidden w-5 h-7 self-end cursor-pointer fill-dark-2"
  >
    <path
      d="M12 18C8.68629 18 6 15.3137 6 12C6 8.68629 8.68629 6 12 6C15.3137 6 18 8.68629 18 12C18 15.3137 15.3137 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16ZM11 1H13V4H11V1ZM11 20H13V23H11V20ZM3.51472 4.92893L4.92893 3.51472L7.05025 5.63604L5.63604 7.05025L3.51472 4.92893ZM16.9497 18.364L18.364 16.9497L20.4853 19.0711L19.0711 20.4853L16.9497 18.364ZM19.0711 3.51472L20.4853 4.92893L18.364 7.05025L16.9497 5.63604L19.0711 3.51472ZM5.63604 16.9497L7.05025 18.364L4.92893 20.4853L3.51472 19.0711L5.63604 16.9497ZM23 11V13H20V11H23ZM4 11V13H1V11H4Z"
    >
    </path>
  </svg>
  <svg
    id="dark-icon"
    data-theme="dark"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg "
    class="theme-icon hidden w-5 h-7 self-end cursor-pointer"
  >
    <path
      d="M12 21.9967C6.47715 21.9967 2 17.5196 2 11.9967C2 6.47386 6.47715 1.9967 12 1.9967C17.5228 1.9967 22 6.47386 22 11.9967C22 17.5196 17.5228 21.9967 12 21.9967ZM5.32889 16.422C6.76378 18.5675 9.20868 19.9803 11.9836 19.9803C16.4018 19.9803 19.9836 16.3985 19.9836 11.9803C19.9836 9.2053 18.5707 6.76034 16.4251 5.32547C17.2705 8.35324 16.5025 11.7369 14.1213 14.1181C11.7401 16.4993 8.3566 17.2672 5.32889 16.422Z"
    >
    </path>
  </svg>
  <a href="/search" class="self-end">
    <svg class="w-5 h-7" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"
      >
      </path>
    </svg>
  </a>
</nav>

<script>
  // TODO åœ¨è¿™é‡Œç»™ html æ ‡ç­¾æ·»åŠ  dark ç±»
  // document.addEventListener("astro:after-swap", () => {
  //   console.log("ðŸš€ -> initTheme -> theme:");
  //   initTheme();
  //   addEventListenerForSVG();

  //   function initTheme() {
  //     const theme = window.localStorage.getItem("theme") as
  //       | "light"
  //       | "dark"
  //       | null;
  //     if (theme) {
  //       setTheme(theme);
  //       return;
  //     }

  //     if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
  //       setTheme("dark");
  //       return;
  //     }

  //     setTheme("light");
  //   }

  //   function addEventListenerForSVG() {
  //     document.querySelectorAll(".theme-icon").forEach((svg) => {
  //       const icon = svg as SVGElement;
  //       icon.addEventListener("click", () =>
  //         setTheme(icon.dataset.theme as "light" | "dark", true)
  //       );
  //     });
  //   }

  //   function setTheme(theme: "light" | "dark", shouldCache?: boolean) {
  //     const darkIcon = document.getElementById("dark-icon")!;
  //     console.log("ðŸš€ -> setTheme -> darkIcon:", darkIcon);
  //     const lightIcon = document.getElementById("light-icon")!;
  //     console.log("ðŸš€ -> setTheme -> lightIcon:", lightIcon);

  //     if (shouldCache) {
  //       window.localStorage.setItem("theme", theme);
  //     }

  //     if (theme === "light") {
  //       lightIcon.classList.add("hidden");
  //       darkIcon.classList.remove("hidden");
  //       document.documentElement.classList.remove("dark");
  //     } else {
  //       darkIcon.classList.add("hidden");
  //       lightIcon.classList.remove("hidden");
  //       document.documentElement.classList.add("dark");
  //     }
  //   }
  // });

  // TODO åœ¨è¿™é‡Œé¡µé¢åŠ è½½ä¹‹åŽï¼Œæ ¹æ® storage æˆ–è€…ç³»ç»Ÿä¸»é¢˜æŽ§åˆ¶ icon çš„æ˜¾ç¤º
  document.addEventListener("astro:page-load", () => {
    setActiveClass();
    initTheme();
    addEventListenerForSVG();

    function initTheme() {
      const theme = window.localStorage.getItem("theme") as
        | "light"
        | "dark"
        | null;
      if (theme) {
        setTheme(theme);
        return;
      }

      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        setTheme("dark");
        return;
      }

      setTheme("light");
    }

    function addEventListenerForSVG() {
      document.querySelectorAll(".theme-icon").forEach((svg) => {
        const icon = svg as SVGElement;
        icon.addEventListener("click", () =>
          setTheme(icon.dataset.theme as "light" | "dark", true)
        );
      });
    }

    function setTheme(theme: "light" | "dark", shouldCache?: boolean) {
      const darkIcon = document.getElementById("dark-icon")!;
      console.log("ðŸš€ -> setTheme -> darkIcon:", darkIcon);
      const lightIcon = document.getElementById("light-icon")!;
      console.log("ðŸš€ -> setTheme -> lightIcon:", lightIcon);

      if (shouldCache) {
        window.localStorage.setItem("theme", theme);
      }

      if (theme === "light") {
        lightIcon.classList.add("hidden");
        darkIcon.classList.remove("hidden");
        document.documentElement.classList.remove("dark");
      } else {
        darkIcon.classList.add("hidden");
        lightIcon.classList.remove("hidden");
        document.documentElement.classList.add("dark");
      }
    }

    function setActiveClass() {
      const nav = getNavFromUrl();
      const navs = document.querySelectorAll("#site-nav a");
      navs.forEach((n) => {
        if (n.getAttribute("href") === nav) {
          n.classList.add("underline");
        }
      });
    }

    function getNavFromUrl() {
      const nav = window.location.pathname.split("/")[1];
      return "/" + nav;
    }
  });
</script>
